@page
@model GiftOfTheGiversFoundation.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/userValidation.css" />
<style>
    .content-overlay {
        max-width: 500px;
        margin: 0 auto;
        border-radius: 15px;
    }

    .card-body {
        padding: 1.5rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-control {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    section.gradient-custom {
        margin-top: -6rem; /* Adjust this value as needed */
    }
</style>

<main class="flex-shrink-0 vh-100 d-flex flex-column">
    <section class="gradient-custom h-100">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
                    <div class="content-overlay">
                        <div class="card-body">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-light text-center">SignUp</h3>
                <form method="post">
                  <div class="form-group text-light">
                    <label asp-for="Input.FullName" class="form-label">Full Name</label>
                    <input asp-for="Input.FullName" class="form-control" placeholder="Enter your full name" required />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                  </div>
                  <div class=" form-group text-light">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" type="email" placeholder="Enter your email" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                  </div>
                  <div class="form-group text-light">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" type="password" placeholder="Enter your password" required />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                  </div>
                  <div class="mt-4 pt-2 text-center">
                    <button type="submit" class="btn btn-secondary btn-lg cta-button ">SignUp</button>
                    <div class="form-group">
                      <p class="text-center mt-5 mb-0 text-light">
                        Have already an account? <a href="/login" class="text-secondary"><u>SignIn</u></a>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
